<!DOCTYPE html>
<html>

<head>
    <title>Donate|Request Plasma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style src="">

    </style>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/signin.css')}}" />
</head>

<body
    style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({{url_for('static',filename='signin.jpg')}})">

    <b>
        <h2 align="center" style="padding-top: 250px;color: black;">Make the Choice</h2>
    </b>

    <div class="row" style="padding-top: 15px;padding-left: 550px;">
        <div class="column">
            <div class="card">
                <a href="regdonor"><button class="btn btn--primary btn1--block">REGISTER TO
                        DONATE</button></a>

            </div>
        </div>

        <div class="column">
            <div class="card">

                <a href="requestdonor"><button class="btn btn--secondary btn2--block">REQUEST
                        PLASMA</button></a>

            </div>
        </div>


    </div>

</body>

</html>